<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,300;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/alt.css">
</head>
<!--mickey/james if ur reading this give me a day or two-->
<body>
    <!--<img class="title" src="images/order.gif"/>-->
    <h1 style="color: orange">ordererer</h1>
    <h2>time remaining: 4m 20s</h2>
    <hr>
    <h3 id="title1">1. choose ur resturant</h3>
    <div class="buttons">
        <div id="button1" class="btn">maccys</div>
        <div id="button2" class="btn">marlowe's</div>
        <div id="button3" class="btn">nandos</div>
        <div id="button4" class="btn">wagas</div>
        <div id="button5" class="btn">kfc</div>
    </div>
    <hr>
    <hr>
    <h3 id="title1" class="disabled">2. upload ur order</h3>
    <button>upload image</button>
    <hr>
    <hr>
    <h3 id="title1" class="disabled">3. add ur name</h3>
    <form class="disabled">
        <input type="text" id="fname" name="fname"><br>
        <input type="submit" class="submit" value="Submit">
      </form>


    <hr>
    
    <p><b>19.08: </b>penisman ordered from kfc</p>

    <script
    src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>
    <script src="js/buttons.js"></script>
</body>